body {
  background-color: #080c20;
  color: #ffffff;
  font-family: "Manrope", sans-serif;
}
header {
  height: 180px;
}
.logo {
  margin-top: 60px;
  margin-left: 150px;
}
h1 {
  text-align: center;
  font-size: 48px;
  width: 500px;
  margin: 0 auto;
}
.scroll-icon {
  display: block;
  margin: auto;
  padding-top: 40px;
}
.intro {
  color: #777f98;
  font-size: 15px;
  text-align: center;
  margin-top: 40px;
  width: 540px;
  padding: 0 20px 0 20px;
}
.blue {
  color: #3ee9e5;
}
.hero-left {
  max-width: 350px;
  margin-right: 25px;
}
.hero-right {
  max-width: 350px;
  margin-left: 25px;
}
.heading-center-column {
  background-image: url("../src/images/bg-hero-squiggle.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.icon-table {
  max-width: 80%;
  display: block;
  margin: auto;
  padding-top: 150px;
}
.icon-boxes {
  background-color: #093f68;
  border-radius: 30%;
  padding: 20px;
  width: 60px;
  height: 60px;
  background-size: contain;
}
.icon-heading {
  font-size: 10px;
  padding: 10px 0px;
}
.icon-paragraph {
  color: #777f98;
  font-size: 10px;
}
.pricing-plan-heading {
  text-align: center;
  margin-bottom: 15px;
}
.pricing-plan-paragraph {
  color: #777f98;
  margin: auto;
  text-align: center;
  font-size: 10px;
  width: 300px;
}
.free-box {
  background-color: #093f68;
  width: 300px;
  border-radius: 5px;
}
.free-heading {
  font-size: 14px;
  font-weight: bolder;
  margin: 15px 0 15px 0;
}
.paid-box {
  background-color: #3ee9e5;
  color: #080c20;
  width: 300px;
  border-radius: 5px;
}
.pricing-boxes {
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
}
