body {
  background-color: #080c20;
  color: #ffffff;
  font-family: "Manrope", sans-serif;
}
h1 {
  text-align: center;
  font-size: 48px;
}
.scroll-icon {
  display: block;
  margin: auto;
}
.intro {
  color: #777f98;
  font-size: 15px;
  text-align: center;
}
.blue {
  color: #3ee9e5;
}
.hero-left {
  max-width: 100%;
}
.hero-right {
  max-width: 100%;
}
.icon-table {
  max-width: 80%;
  display: block;
  margin: auto;
}
.icon-boxes {
  background-color: #093f68;
  border-radius: 30%;
  padding: 20px;
  width: 60px;
  height: 60px;
  background-size: contain;
}
.icon-heading {
  font-size: 10px;
  padding: 10px 0px;
}
.icon-paragraph {
  color: #777f98;
  font-size: 10px;
}
.pricing-plan-heading {
  text-align: center;
  margin-bottom: 15px;
}
.pricing-plan-paragraph {
  color: #777f98;
  margin: auto;
  text-align: center;
  font-size: 10px;
  width: 300px;
}
.free-box {
  background-color: #093f68;
  width: 200px;
  border-radius: 5px;
}
