body {
  background-color: #080c20;
  color: #ffffff;
  font-family: "Manrope", sans-serif;
}
header {
  height: 180px;
}
.logo {
  margin-top: 60px;
  margin-left: 150px;
}
.heading-table {
  margin-right: auto;
  margin-left: auto;
}
h1 {
  text-align: center;
  font-size: 48px;
  width: 500px;
  margin: 0 auto;
  padding-top: 120px;
}
.scroll-icon {
  display: block;
  margin: auto;
  padding-top: 40px;
}
.intro {
  color: #777f98;
  font-size: 15px;
  text-align: center;
  margin-top: 20px;
  width: 530px;
  padding: 0 20px 0 20px;
}
.blue {
  color: #3ee9e5;
}
.hero-left {
  max-width: 350px;
  margin-right: 48px;
}
.hero-right {
  max-width: 350px;
  margin-left: 48px;
}
.heading-center-column {
  background-image: url("../src/images/bg-hero-squiggle.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 300px;
}
.icon-table {
  max-width: 80%;
  display: block;
  margin: auto;
  padding-top: 150px;
}
.icons {
  margin: 0;
  padding: 2px;
  border: 0;
}
.icon-boxes {
  background: #093f68;
  background-position: center;
  border-radius: 30%;
  padding: 30px;
  width: 90px;
  height: 90px;
  text-align: center;
  vertical-align: middle;
}
.lowered-box {
  padding-top: 75px;
}
.icon-heading {
  font-size: 15px;
  padding: 35px 0px 20px 0;
}
.icon-paragraph {
  color: #777f98;
  font-size: 14px;
  width: 230px;
  padding-right: 50px;
}
.pricing-plan-heading {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 30px;
}
.pricing-plan-paragraph {
  color: #777f98;
  margin: auto;
  text-align: center;
  font-size: 14px;
  width: 300px;
  
}
.free-box {
  background-color: #093f68;
  width: 300px;
  border-radius: 5px;
}
.free-heading {
  font-size: 14px;
  font-weight: bolder;
  margin: 15px 0 15px 0;
}
.paid-box {
  background-color: #3ee9e5;
  color: #080c20;
  width: 300px;
  border-radius: 5px;
}
.pricing-boxes {
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
}
